* {
	margin: 0;
    color: whitesmoke;
}

a {
    color: aqua;
}

#wrapper {
    background-color: darkblue;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 10px;
}

header {
    border-radius: 25px;
    background-color: red;
    display: block;
    width: 970px;
    margin: 5px;
    padding: 15px;
}

#content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px;
    padding: 0px;
}

nav {
    border-radius: 25px;
    background-color: rgb(0, 129, 129);
    display: inline-block;
    padding: 10px;
    margin: 10px 10px 10px 5px;
    height: fit-content;
    width: 100%;
}

nav ul {
    list-style-type: circle;
    margin: 0px 0px 0px -5px;
}

section {
    border-radius: 25px;
    background-color: black;
    display: inline-block;
    margin: 10px;
    padding: 15px;
}

section h2 {
    padding: 5px;
}

section p {
    padding: 5px;
}

section ul li {
    margin-left: -10px;
    padding: 5px;
}

.code {
    color: blueviolet;
}

footer {
    border-radius: 25px;
    background-color: grey;
    width: 970px;
    display: block;
    margin: 5px;
    padding: 20px;
}